$poppins: 'Poppins', sans-serif;
$ubuntu: 'Ubuntu Mono', monospace;
$noto: 'Noto Sans JP', sans-serif;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#container {
    display: flex;
}

#col1 {
    background-color: #FAFBFD;
    max-width: 237px !important;
    flex: 1;
    outline: 1px solid red;
}

#col2 {
    padding-left: 6rem;
    h2 {
        color: #4f4f4f;
        font-family: $poppins;
        font-weight: 500;
    }
}

.btn-group-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-group {
    h5 {
    font-family: $ubuntu;
    font-weight: 400;
    }
    button {
        font-family: $noto;
        font-weight: 500;
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left:16px;
        padding-right:16px;
        border-radius: 6px;
        border: 0px;
        cursor: pointer;
    }
}